<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.danielpereira.events</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/g9j6wqz/bin/screen-lock-monitor</string>
        <string>-l</string>
        <string>/Users/g9j6wqz/bin/worktime stop</string>
        <string>-u</string>
        <string>/Users/g9j6wqz/bin/worktime start</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/g9j6wqz/.worktime/screen-events-error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/g9j6wqz/.worktime/screen-events-output.log</string>
</dict>
</plist>